body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #293a4a;
  height: 50px;
  vertical-align: middle;
}

.header h1 {
  color: #f5f5f5;
  font-size: 1.25em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-left: 1em;
  line-height: 50px;
}

.main {
  margin: 30px 30px 0 30px;
}

.main h2 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  background-color: #293a4a;
  border-radius: 5px 5px 0 0;
  color: #f5f5f5;
  text-align: center;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container {
  width: 60vw;
}

.main-container:nth-child(1) {
  margin-right: 10px;
}

.main-container:nth-child(2) {
  width: 40vw;
}

.main-createTable {
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

.main-createTable form {
  padding: 10px;
}

.main-createTable #cTable_response {
  padding: 10px;
}

.main-backupTable {
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

.main-backupTable form {
  padding: 10px;
}

.main-backupTable #bTable_response {
  padding: 10px;
}

.main-divide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-divide-eTimeProcess {
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
  width: 30vw;
  margin-right: 10px;
}

.main-divide-eTimeProcess form {
  padding: 10px;
}

.main-divide-eTimeProcess label {
  margin-left: 30px;
}

.main-divide-eTimeProcess #eTimeinfo_response {
  padding: 10px;
}

.main-divide-lTimeProcess {
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
  width: 30vw;
}

.main-divide-lTimeProcess form {
  padding: 10px;
}

.main-divide-lTimeProcess input {
  margin-bottom: 10px;
}

.main-divide-lTimeProcess #lTimeinfo_response {
  padding: 10px;
}

.main-modify {
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

.main-modify form {
  padding: 10px;
}

.main-modify form .supportbox {
  border: 1px solid #a9a9a9;
  width: 260px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.main-modify form ul {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.main-modify form li {
  font-size: 0.8em;
  color: #a9a9a9;
  font-weight: bold;
}

.main-modify form p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 0.8em;
  font-weight: bold;
  color: #a9a9a9;
}

.main-modify label {
  margin-left: 30px;
}

.main-modify a {
  margin: 10px 0;
  display: inline-block;
}

.main-modify .numbox {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
}

.main-modify .textbox {
  width: 200px;
  height: 30px;
}

.main-modify .exebox {
  width: 100px;
  height: 50px;
  margin: 0 0 10px 30px;
}

.main-modify #modifyTable_response, .main-modify #deleteRow_response {
  padding: 10px;
}

.main-showTable {
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

.main-showTable form {
  padding: 10px;
}

.main-showTable #sTable_response {
  padding: 10px;
}

.main-showTable #sTable_response table {
  border-collapse: collapse;
}

.main-showTable #sTable_response th, .main-showTable #sTable_response td {
  border: 1px solid;
}

.main-explain {
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

.main-explain p {
  padding: 0 10px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.main-explain span {
  font-weight: bold;
}

.main-explain ._s {
  font-size: 0.8em;
  -webkit-margin-after: 1.5em;
          margin-block-end: 1.5em;
  color: #696969;
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container {
    width: 90vw;
  }
  .main-container:nth-child(2) {
    width: 90vw;
  }
  .main-divide-eTimeProcess {
    width: 50vw;
  }
  .main-divide-lTimeProcess {
    width: 50vw;
  }
}
/*# sourceMappingURL=managementPortal.css.map */